*{
  margin : 0;
  padding : 0;
}

.titluCont{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:grey;
}

.titlu{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 25px;
}
.slogan{
  font-family: cursive;
  font-style: italic;
  color:rgb(134, 21, 21);
  font-size: 25px;
}

.cont{
  font-size: 25px;
}
.btn{
  background-color:  grey;
  border: solid rgb(134, 21, 21);
  color: black;
  padding: 15px 25px;
  text-align: center;
  font-size:20px;
  cursor: pointer;
}
.btn:hover{
  background-color: grey;
  border: solid black;
  color:  rgb(134, 21, 21);
}

.titluCont h1 {
  width: 32%;
  text-align: center;
}

div h1{
  display: inline-block;
}


header{
  background-color: white;
  height : auto;
  background-size: cover;
  background-position: center;
}

.main ul{
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.822);
  height: 40px;
  padding-top: 10px;
  border-bottom: solid grey;
  border-top: solid black;

}

.main ul li{
  display: inline-block;
  width: 16%;
  text-align: center;
}

.main ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.formular{

    padding: 2%;
    width: auto;
    height: auto;
}
#titluFormular{
    text-align: center;
    padding-bottom: 30px;
}

input[type=text] {
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
}

label {
  margin-bottom: 10px;
  display: block;
}

.btnLivrare{
  margin-left: 32px;
  border: solid black;
  padding: 10px;
  width: 75%;
  height: auto;
  
}
.btnLivrare:hover{
  background-color: black;
  border: 2px solid white;
  color: whitesmoke;

}
