<!DOCTYPE html>
<html>
    <head>
        <title> BeStrong </title>
        <link rel="stylesheet" href="stylesheets/cosulmeu.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
        <link rel="stylesheet" type="text/css" href="css/boostrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>

    <body>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/index"> BeSTRONG </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">Acasa </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/produse"> Produse </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cosulmeu">Cosul Meu </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/recenzii"> Recenzii </a>
                            </li>
                            <button class="btn btn-dark"><a href="/login"> Intra in cont </button> </a>
                        </ul>
                    </div>
                </nav>
                <div class="cos">
                    <h1 id="titlu"> Cosul meu </h1>
                    <div class="Produse">
                        <h1 id="item"> Produs </h1>
                        <h1 id="pret"> Pret </h1>
                        <h1 id="cantitate"> Cantitate </h1>
                    </div>
            </div>
            <div class="cos-total">
                <strong class="cost-livrare">Cost livrare: </strong>
                <span class="cost-livrare" id="livrare"> 0 Lei </span>
                <strong>Total: </strong>
                <span class="cos-pret"> Pret Total </span>
            </div>
            <a href="/livrare"><button class="cumpara mt-5 mb-3" style="width: 100%; background-color: white;" type="button" onclick="stergereLocalStorage()"> Cumpara </button> </a>
            </div>
        <script src="javascripts/cosjv.js"></script>
    </body>
</html>