<!DOCTYPE html>
<html>
    <head>
        <title> BeStrong </title>
        <link rel="stylesheet" href="stylesheets/cosulmeucss.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
    </head>

    <body>
        <div class="titluCont">
                <h1 class="titlu"> BeStrong </h1>
                <h1 class="slogan"> Suplimente proteice </h1>
                <h1 class="cont"><a href="/login"><button class="btn">Intra in cont</button></a></h1>
        </div>
        <header>
            <div class="main">
                <ul class="topMenu">
                    <li><a href="/index">Acasa</a></li>
                    <li><a href="/produse">Produse</a></li>
                    <li><a href="/promotii">Promotii</a></li>
                    <li><a href="/cosulmeu">Cosul meu</a></li>
                    <li><a href="/recenzii">Recenzii</a></li>
                </ul>
            </div>
            <div class="Anunturi">
                <h1>! Oferim cele mai bune produse </h1>
                <h1>! Calitate premium</h1>
                <h1>! 10% reducere la unele produse in fiecare zi</h1>
            </div>
            <div class="cos">
                    <h1 id="titlu"> Cosul meu </h1>
                    <div class="Produse">
                        <h1 id="item"> Produs </h1>
                        <h1 id="pret"> Pret </h1>
                        <h1 id="cantitate"> Cantitate </h1>
                    </div>
            </div>
            <div class="cos-total">
                <strong class="cost-livrare">Cost livrare: </strong>
                <span class="cost-livrare" id="livrare"> 10 Lei </span>
                <strong>Total: </strong>
                <span class="cos-pret"> Pret Total </span>
            </div>
            <a href="/livrare"><button class="cumpara" type="button" onclick="stergereLocalStorage()"> Cumpara </button> </a>
        </header>
        <script src="javascripts/cosjv.js"></script>
    </body>
</html>