<!DOCTYPE html>
<html>
    <head>
        <title> BeStrong </title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
    </head>

    <body>
        <div class="titluCont">
                <h1 class="titlu"> BeStrong </h1>
                <h1 class="slogan"> Suplimente proteice </h1>
                <h1 class="cont"><a href="/login"><button class="btn">Intra in cont</button></h1>
        </div>
        <header>
            <div class="main">
                <ul class="topMenu">
                    <li><a href="/index">Acasa</a></li>
                    <li><a href="/produse">Produse</a></li>
                    <li><a href="/promotii">Promotii</a></li>
                    <li><a href="/cosulmeu">Cosul meu</a></li>
                    <li><a href="/recenzii">Recenzii</a></li>
                </ul>
            </div>
        
            <div class="Anunturi">
                <h1 >! Oferim livrare gratuita</h1>
                <h1 >! Calitate premium</h1>
                <h1 >! 10% reducere la unele produse in fiecare zi</h1>
            </div>
            <div class="Ferestra">
                 <a href="/produs1"><img class="Slide" id ="produs1" src="images/1.jpg" onclick="produs1()"></a>
                 <a href="/produs1"><img class="Slide" id ="produs2" src="images/2.jpg" onclick="produs2()"></a>
                 <a href="/produs1"><img class="Slide" id ="produs3" src="images/3.jpg" onclick="produs3()"></a>
            </div>
        </header>
        <script src="javascripts/homejv.js"></script>
    </body>
</html>