<!DOCTYPE html>
<html>
    <head>
        <title> BeStrong </title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
        <link rel="stylesheet" type="text/css" href="css/boostrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/index"> BeSTRONG </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Acasa </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/produse"> Produse </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cosulmeu">Cosul Meu </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/recenzii"> Recenzii </a>
                        </li>
                        <button class="btn btn-dark"><a href="/login"> Intra in cont </button> </a>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <h1 class="display-4"> CALITATE ! </h1>
                <p class="lead"> Cuvantul CALITATE este cel care ne defineste. Avem produse premium, verificate in laboratore si acreditate ca fiind unele din cele mai bune produse.</p>
                <hr class="my-5">
                <p> Oferim livrare gratuita, produse de calitate premium si reduceri in fiecare zi. </p>
            </div>
            <div class="Ferestra">
              <a href="/produs1"><img class="Slide" id ="produs1" src="images/1.jpg" onclick="produs1()"></a>
              <a href="/produs1"><img class="Slide" id ="produs2" src="images/2.jpg" onclick="produs2()"></a>
              <a href="/produs1"><img class="Slide" id ="produs3" src="images/3.jpg" onclick="produs3()"></a>
            </div>    
        </div>
        <script src="javascripts/homejv.js"></script>
    </body>
</html>