<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" href="stylesheets/logarecss.css">
    </head>
    <body>
    <form action="/login" method="post">
        <div class="logare">
                <div class="form">
                    <form class="inregistrare">
                        <input type="text" placeholder="Username">
                        <input type="text" placeholder="parola">
                        <button> Login </button>
                    </form>
                </div>
        </div>
    </body>
</html>