<!DOCTYPE html>
<html>
    <head>
        <title> BeStrong </title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/produs1.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
    </head>

    <body>
        <header>
            <div class="main">
                <ul class="topMenu">
                    <li><a href="/acasa">Acasa</a></li>
                    <li><a href="/produse">Produse</a></li>
                    <li><a href="/promotii">Promotii</a></li>
                    <li><a href="/cosulmeu">Cosul meu</a></li>
                    <li><a href="/recenzii">Recenzii</a></li>
                </ul>
            </div>
            <div class="produs">
                <div class="detalii">
                    <img src="images/1.jpg" id ="img"> 
                    <div class="butoane">
                        <h1 id="nume"> Impact Whey Protein </h1>
                        <p id="paragraf"> Pudra de proteine nr. 1 din Marea Britanie pentru nutriția de zi cu zi. </p>
                        <p id="pret"> 40.00 Lei </p>
                        <p id="cantitate"> Cantitate : 25 Portii </p>
                        <button class="cosulMeu" onclick="adaugareCos()">Adauga-ma in cos!</button>
                    </div>
                </div>
                <div class="descriere">
                    <h1> PREZENTARE PRODUS </h1>
                    <p id="prezentare"> Zer premium cu 21 g de proteine per porție, pentru proteinele de care ai nevoie dintr-o sursă de calitate - aceleași vaci care produc laptele și brânza pe care le consumi. Este pur și simplu filtrat și uscat prin pulverizare pentru a produce nutrienți naturali. </p>
                    <h1> BENEFICII CHEIE </h1>
                    <div class="beneficii">
                        <p id="beneficiu1"> 21 g de proteine per portie. </p>
                        <p id="beneficiu2"> 4,5 g BCAA-uri. </p>
                        <p id="beneficiu3"> Conținut redus de zahăr. </p>
                    </div>
                    <h1> UTILIZARE RECOMANDATA </h1>
                    <p id="utilizare"> Iți recomandăm să adaugi o cupă mare (25 g) în apă sau lapte la 30-60 minute după antrenament - dar este ideală oricând, fiind un mod comod de a obține proteinele de care ai nevoie. </p>
                    <h1> DE CE SA IL ALEGI? </h1>
                    <p id="alegere"> Este o proteină convenabilă, de înaltă calitate, care ajută la creșterea și menținerea musculaturii importante1 - și cu doar 1,9 g de grăsime, 1 g de carbohidrați și numai 103 de calorii per porție, îți va susține toate obiectivele de fitness. </p>
                </div>
            </div>
        </header>
    <script src="javascripts/produs1.js"></script>
    </body>
</html>