<!DOCTYPE html>
<html>
    <head>
        <title> BeStrong </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="stylesheets/produsecss.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/boostrap.min.css">
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/index"> BeSTRONG </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Acasa </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/produse"> Produse </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cosulmeu">Cosul Meu </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/recenzii"> Recenzii </a>
                        </li>
                        <button class="btn btn-dark"><a href="/login"> Intra in cont </button> </a>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container" style="background-color: whitesmoke">
            <div class="row mt-4 ml-2" >
                <div class="col-sm-4">
                    <div> Toate produsele </div>
                </div>
                <div class="col-sm-8">
                    <div class="container d-flex flex-row-reverse">
                            <div class="dropdown">
                                <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Fitrare
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#" onclick="sortAsc()">Pret minim</a>
                                  <a class="dropdown-item" href="#" onclick="sortDesc()">Pret maxim</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/1.jpg" class="w-100" onclick="produs1()">
                                    </a>
                                </div>
                                <h5 class="text-center"> Impact whey protein </h5>
                                <h6 class="text-center" > 36.00 Lei </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/3.jpg" class="w-100" onclick="produs3()">
                                    </a>
                                </div>
                                <h5 class="text-center" > Impact whey isolate </h5>
                                <h6 class="text-center" > 67.00 Lei  </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/2.jpg" class="w-100" onclick="produs2()">
                                    </a>
                                </div>
                                <h5 class="text-center"> Impact diet whey </h5>
                                <h6 class="text-center"> 170.00 Lei </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/3.jpg" class="w-100" onclick="produs3()">
                                    </a>
                                </div>
                                <h5 class="text-center" > Impact whey isolate </h5>
                                <h6 class="text-center" > 67.00 Lei  </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/3.jpg" class="w-100" onclick="produs3()">
                                    </a>
                                </div>
                                <h5 class="text-center" > Impact whey isolate </h5>
                                <h6 class="text-center" > 67.00 Lei  </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/2.jpg" class="w-100" onclick="produs2()">
                                    </a>
                                </div>
                                <h5 class="text-center"> Impact diet whey </h5>
                                <h6 class="text-center"> 170.00 Lei </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/1.jpg" class="w-100" onclick="produs1()">
                                    </a>
                                </div>
                                <h5 class="text-center"> Impact whey protein </h5>
                                <h6 class="text-center" > 36.00 Lei </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                            <div class="col produs-grid">
                                <div class="image">
                                    <a href="/produs1">
                                        <img src="images/1.jpg" class="w-100" onclick="produs1()">
                                    </a>
                                </div>
                                <h5 class="text-center"> Impact whey protein </h5>
                                <h6 class="text-center" > 36.00 Lei </h6>
                                <a class="btn cumpara"> Cumpara </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
                
        </div>
    <script src="javascripts/produsejv.js"></script>
    </body>
</html>