<!DOCTYPE html>
<html>
    <head>
        <title> BeStrong </title>
        <link rel="stylesheet" href="stylesheets/promotiicss.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
    </head>

    <body>
        <header>
            <div class="main">
                <ul class="topMenu">
                    <li><a href="/index">Acasa</a></li>
                    <li><a href="/produse">Produse</a></li>
                    <li><a href="/promotii">Promotii</a></li>
                    <li><a href="/cosulmeu">Cosul meu</a></li>
                    <li><a href="/recenzii">Recenzii</a></li>
                </ul>
            </div>
            <div class="Anunturi">
                <h1 >! Oferim livrare gratuita</h1>
                <h1 >! Calitate premium</h1>
                <h1 >! 10% reducere la unele produse in fiecare zi</h1>
            </div>
            <div class="Anunturi">
                <h1 > Reducerea de 10% la urmatoarele produse! </h1>
                <h1 >  --> Verificati pagina cu produse <--</h1>
            </div>
            <div class="linie">
                <div class="coloana" style="background-color:#aaa;">
                    <img src="images/1.jpg">
                    <p> 10% OFF </p>
                </div>
                <div class="coloana" style="background-color:#bbb;">
                    <img src="images/2.jpg" id="img2">
                    <p> 10% OFF </p>
                </div>
              </div>
        </header>
    </body>
</html>