<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title> BeStrong </title>
        <link rel="stylesheet" href="stylesheets/recenziicss.css">
        <link rel="shortcut icon" type="image/png" href="images/icon.png">
    </head>

    <body>
        <header>
            <div class="main">
                <ul class="topMenu">
                    <li><a href="/index">Acasa</a></li>
                    <li><a href="/produse">Produse</a></li>
                    <li><a href="/promotii">Promotii</a></li>
                    <li><a href="/cosulmeu">Cosul meu</a></li>
                    <li><a href="/recenzii">Recenzii</a></li>
                </ul>
            </div>
            <div class="progress">
                <ul>
                    <li> 
                        <p class="numar active"> 1 </p>
                        <p class="intrebari"> Intrebarea 1 </p class="intrebari">
                    </li>
                    <li>  
                        <p class="numar"> 2 </p>
                        <p class="intrebari"> Intrebarea 2 </p c>
                    </li>
                    <li>  
                        <p class="numar"> 3 </p>
                        <p class="intrebari"> Intrebarea 3 </p>
                    </li>
                    <li>  
                        <p class="numar"> 4 </p>
                        <p class="intrebari"> Intrebarea 4 </p>
                    </li>
                    <li>  
                        <p class="numar"> 5 </p>
                        <p class="intrebari"> Intrebarea 5 </p>
                </ul>
                <fieldset class="fld">
                    <h1> Sunteti multumit de calitatea "Proteinelor"? </h1>
                    <input type="checkbox" class="recenzie"> Foarte Multumit <br>
                    <input type="checkbox" class="recenzie"> Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Nemultumit <br>
                    <input type="checkbox" class="recenzie"> Nemultumit <br>
                    <input type="checkbox" class="recenzie" > Foarte Nemultumit <br>
                    <input type="submit" value=" Intrebarea anterioara " class="anterior">
                    <input type="submit" value=" Urmatoarea Intrebare " class="urmator">
                    <div class="pozitiv"> <img src="images/smiley.jpg" width= "200px" height="150px">   </div>
                    <div class="negativ"> <img src="images/sad.jpg" width="200px" height="150px"> </div>
                </fieldset>
                <fieldset class="fld">
                    <h1> Sunteti multumit de calitatea produselor de tip "Gainer"? </h1>
                    <input type="checkbox" class="recenzie"> Foarte Multumit <br>
                    <input type="checkbox" class="recenzie"> Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Nemultumit <br>
                    <input type="checkbox" class="recenzie"> Nemultumit <br>
                    <input type="checkbox" class="recenzie" > Foarte Nemultumit <br>
                    <input type="submit" value=" Intrebarea anterioara " class="anterior">
                    <input type="submit" value=" Urmatoarea Intrebare " class="urmator">
                    <div class="pozitiv"> <img src="images/smiley.jpg" width= "200px" height="150px">   </div>
                    <div class="negativ"> <img src="images/sad.jpg" width="200px" height="150px"> </div>
                </fieldset>
                <fieldset class="fld">
                    <h1> Sunteti multumit de calitatea produselor de tip "Creatina"? </h1>
                    <input type="checkbox" class="recenzie"> Foarte Multumit <br>
                    <input type="checkbox" class="recenzie"> Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Nemultumit <br>
                    <input type="checkbox" class="recenzie"> Nemultumit <br>
                    <input type="checkbox" class="recenzie" > Foarte Nemultumit <br>
                    <input type="submit" value=" Intrebarea anterioara " class="anterior">
                    <input type="submit" value=" Urmatoarea Intrebare " class="urmator">
                    <div class="pozitiv"> <img src="images/smiley.jpg" width= "200px" height="150px">   </div>
                    <div class="negativ"> <img src="images/sad.jpg" width="200px" height="150px"> </div>
                </fieldset>
                <fieldset class="fld">
                    <h1> Sunteti multumit de modul in care se gasesc cantitatile? </h1>
                    <input type="checkbox" class="recenzie"> Foarte Multumit <br>
                    <input type="checkbox" class="recenzie"> Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Nemultumit <br>
                    <input type="checkbox" class="recenzie"> Nemultumit <br>
                    <input type="checkbox" class="recenzie" > Foarte Nemultumit <br>
                    <input type="submit" value=" Intrebarea anterioara " class="anterior">
                    <input type="submit" value=" Urmatoarea Intrebare " class="urmator">
                    <div class="pozitiv"> <img src="images/smiley.jpg" width= "200px" height="150px">   </div>
                    <div class="negativ"> <img src="images/sad.jpg" width="200px" height="150px"> </div>
                </fieldset>
                <fieldset class="fld">
                    <h1> Sunteti multumit de timpul de livrare al produselor? </h1>
                    <input type="checkbox" class="recenzie"> Foarte Multumit <br>
                    <input type="checkbox" class="recenzie"> Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Multumit <br>
                    <input type="checkbox" class="recenzie"> Putin Nemultumit <br>
                    <input type="checkbox" class="recenzie"> Nemultumit <br>
                    <input type="checkbox" class="recenzie" > Foarte Nemultumit <br>
                    <input type="submit" value=" Intrebarea anterioara " class="anterior">
                    <input type="submit" value=" Urmatoarea Intrebare " class="urmator">
                    <div class="pozitiv"> <img src="images/smiley.jpg" width= "200px" height="150px">   </div>
                    <div class="negativ"> <img src="images/sad.jpg" width="200px" height="150px"> </div>
                </fieldset>
                <fieldset>
                    <h1> Va multumim pentru timpul acordat raspunsurilor ! </h1>
                </fieldset>
            </div>
        </header>
        <script src="javascripts/recenziijv.js"> </script>
    </body>
</html>
